<h1> Welcome to Customer's Shopping Mart</h1>
<!-- <br><br>
<a href="http://127.0.0.1:8000/Stationery">Go to Stationery department</a>
<br><br><br>
<a href="http://127.0.0.1:8000/Electronics">Go to Electronics department</a> -->


<br><br>
<a href="http://127.0.0.1:8000/insertdata">Insert the data</a>
<br><br><br>
<a href="http://127.0.0.1:8000/displaydata">Display data</a>

<!-- {% csrf_token %}     it is dynamic-->

<!-- CREATE TABLE product (
    productname VARCHAR(20),
    price INT,
    category VARCHAR(20)
); -->