<!-- <!DOCTYPE html>
<html>

<body>

    <h1>Welcome to home page</h1>
    <p>My first Html Page</p>

</body>

</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>

<body>




    <h4>Products are </h4>
    <ul>
        {% for i in list %}
        <li>{{ i }}</li>
        {% endfor %}

        <br><br><br><br><br>
        <a href="http://127.0.0.1:8000/">Go Home</a>
</body>

</html>